body {
    margin: 0;
    background-color: var(--color-light);
    font-family: 'Varela', serif;
    font-size: 1.6rem;
}
.wrapper {
    max-width: 120rem;
    padding: var(--gap);
    margin: auto;
}

.page-subtitle {
    font-size: 1.8rem;
}

input,
select {
    display: block;
    width: 40rem;
    height: 4rem;
    box-sizing: border-box;
    padding: 0 1.8rem;
    border-radius: 2rem;
    border: 2px solid var(--color);
    font-size: 1.6rem;
}
input::placeholder {
    color: #CCC;
}
label {
    display: inline-block;
    margin-bottom: .2rem;
}

@media (max-width: 600px) {
    input,
    select {
        width: 100%;
    }
}