.icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #333;
}
.icon--clickable:not([disabled]) {
    position: relative;
    padding: .4rem;
    margin: -0.4rem;
    color: #333;
    cursor: pointer;
    transition: color .3s;
}
.icon--clickable[disabled] {
    opacity: .2;
    pointer-events: none;
}
.icon--clickable:not([disabled]) > span {
    position: relative;
    z-index: 1;
}

.icon--clickable:not([disabled]):active {
    color: #EEE;
}
.icon--clickable:not([disabled]):hover {
    color: var(--color-light);
}

.icon--clickable:not([disabled])::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: var(--color);
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .3s, width .3s, height .3s, left .3s, top .3s;
}
.icon--clickable:not([disabled]):visited::before,
.icon--clickable:not([disabled]):hover::before {
    top: 0%;
    left: 0%;
    width: 3.2rem;
    height: 3.2rem;
    opacity: 1;
}
.icon--clickable:not([disabled]):active::before {
    background-color: var(--color-dark);
}